<center>
  <h1> Viewing Party Lite </h1>

  <div id="button">
    <% if current_user %>
      <%= link_to "Log Out", "/logout", method: :delete %>
    <% else %>
      <%= button_to "Create a New User", "/register", method: :get %>
      <br>
      <%= link_to "Log In", "/login", method: :get %>
      <br>
    <% end %>
  </div>

  <% flash.each do |type, msg| %>
    <div> <%= msg %> </div>
  <% end %>

  <div>
    <% if current_user %>
      Existing Users: <br>
        <% @users.each do |user| %>
          <% # link_to "#{user.email}'s Dashboard", "/dashboard" %>
          <%= user.email %>
          </br>
        <% end %>
    <% end %>
  </div>
</center>
